In [3]:
import pandas as pd

In [4]:
df1 = pd.read_csv("./text/part1.csv")
df2 = pd.read_csv("./text/part2.csv")
df3 = pd.read_csv("./text/part3.csv")
df4 = pd.read_csv("./text/part4.csv")

In [3]:
df1

,id,form,original_form,speaker_id,start,end,age,sex
0,SDRW2000000319.1.1.1,병역 특례를 받아,병역 특례를 받아,SD2001645,4.04903,5.83905,10대,여성
1,SDRW2000000319.1.1.2,법정 봉사활동 기 시간을 채워야 하는,법정 봉사활동 기 시간을 채워야 하는,SD2001645,5.84901,8.89405,10대,여성
2,SDRW2000000319.1.1.3,예술,예술,SD2001645,8.90407,9.52506,10대,여성
3,SDRW2000000319.1.1.4,또는 체육 요원의 절반가량이,또는 체육 요원의 절반가량이,SD2001645,9.53506,12.05203,10대,여성
4,SDRW2000000319.1.1.5,허위 자료를 내거나,허위 자료를 내거나,SD2001645,12.06204,13.79504,10대,여성
...,...,...,...,...,...,...,...,...
213188,SDRW2000000418.1.1.326,우선,우선,SD2000552,908.12707,909.98106,10대,여성
213189,SDRW2000000418.1.1.327,맛있는 음식들 먹으면서,맛있는 음식들 먹으면서,SD2000552,909.99104,912.25405,10대,여성
213190,SDRW2000000418.1.1.328,겝,겝,SD2000552,912.26403,913.64807,10대,여성
213191,SDRW2000000418.1.1.329,먹으면서 저도 같이 맛있어 보이는 느낌이라서,먹으면서 저도 같이 맛있어 보이는 느낌이라서,SD2000552,913.65802,917.87305,10대,여성
213192,SDRW2000000418.1.1.330,더 좋은 거 같아요.,더 좋은 거 같아요.,SD2000552,917.88301,919.84207,10대,여성

In [4]:
count = df1['id'].value_counts()

In [5]:
count

id
SDRW2000000319.1.1.1      1
SDRW2000000275.1.1.188    1
SDRW2000000326.1.1.182    1
SDRW2000000326.1.1.183    1
SDRW2000000326.1.1.184    1
                         ..
SDRW2000000427.1.1.196    1
SDRW2000000427.1.1.197    1
SDRW2000000427.1.1.198    1
SDRW2000000427.1.1.199    1
SDRW2000000418.1.1.330    1
Name: count, Length: 213193, dtype: int64

In [6]:
df = pd.concat([df1,df2,df3,df4],axis=0)

In [8]:
df = df.sort_values(by='id',ignore_index=True)
df

,id,form,original_form,speaker_id,start,end,age,sex
0,SDRW2000000001.1.1.1,저는 여행 다니는 것을,저는 여행 다니는 것을,SD2000001,5.51905,7.15807,20대,여성
1,SDRW2000000001.1.1.10,저 여행 다니는 거 되게 좋아해서,저 여행 다니는 거 되게 좋아해서,SD2000002,20.92102,24.25104,20대,여성
2,SDRW2000000001.1.1.100,식으로 여행을 하는 걸 가장 좋아하시나요?,식으로 여행을 하는 걸 가장 좋아하시나요?,SD2000002,201.59206,204.68306,20대,여성
3,SDRW2000000001.1.1.101,아~ 제 여행 스타일은,아~ 제 여행 스타일은,SD2000001,204.69307,207.83801,20대,여성
4,SDRW2000000001.1.1.102,어~ 너무 일정이,어~ 너무 일정이,SD2000001,207.84806,209.31802,20대,여성
...,...,...,...,...,...,...,...,...
870157,SDRW2000002232.1.1.95,그런 내용들을 다뤄야 한다는 점에서,그런 내용들을 다뤄야 한다는 점에서,SD2002714,199.46807,202.83807,20대,남성
870158,SDRW2000002232.1.1.96,경제라는 과목이,경제라는 과목이,SD2002714,202.84802,204.54502,20대,남성
870159,SDRW2000002232.1.1.97,다른 친구들도 그렇지만,다른 친구들도 그렇지만,SD2002714,204.55501,206.31303,20대,남성
870160,SDRW2000002232.1.1.98,공통적으로 좀 어려워하는 과목인 거 같아요.,공통적으로 좀 어려워하는 과목인 거 같애요.,SD2002714,206.32302,209.33202,20대,남성
870161,SDRW2000002232.1.1.99,근데 그래도 동시에,근데 그래도 동시에,SD2002714,209.34202,211.07304,20대,남성

In [9]:
df.to_csv("text/all_text.csv",index=False,encoding='utf-8')

In [5]:
df1.to_csv("text/part1_text.csv",index=False,encoding='utf-8')